:root{
    --white: #fff;
    --black: #101116;
    --red: #F50A0A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--black);
    color: #fff;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 70px;
    transition: .5s ease;
    z-index: 1000;
}

header.sticky {
    background: var(--black);
}

header .logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--red);
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 1.5px;
}

header nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header nav a {
    color: var(--white);
    opacity: .7;
    transition: .3s ease-in;
}

header nav a:hover {
    opacity: 1;
}

header nav .search {
    background: #262626;
    padding: 10px 15px;
    border-radius: 100px;
}

header nav .search input[type=search] {
    background: transparent;
    color: var(--white);
    border: none;
}

header nav .search input[type=search]:focus {
    outline: none;
}

header nav .btn {
    background: transparent;
    width: 30px;
    height: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--white);
}

.movie_container {
    position: relative;
    background: red;
    width: 100%;
    height: 100vh;
}

.movie_container .movie_wrapper {
    background: blue;
    position: relative;
    width: 100%;
    height: 100%;
}

.movie_container .movie_box {
    height: 100%;
    overflow: hidden;
    background: black;
}

.movie_container .btn_content {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.movie_container .btn_content .btn_prev {
    width: 40px;
    height: 40px;
    background: var(--black);
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

#first {
    background-image: url(../img/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#second {
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#third {
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie_slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15rem;
    gap: 10px;
}

.movie_slide h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.movie_slide p {
    text-align: justify;
    font-size: 12px;
}

.movie_slide .movie_review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.movie_slide .movie_review h3 {
    font-size: 20px;
}

.movie_slide .btn_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.movie_slide .btn_ctn .btn {
    padding: 10px 20px;
    background: var(--white);
    color: var(--red);
    border-radius: 100px;
    font-weight: 600
}

.movie_slide .btn_ctn .btn:last-child {
    background: var(--red);
    color: var(--white);
}